language: scala
scala:
- 2.10.0
script: "./sbt test"
notifications:
  email:
    on_success: never
    on_failure: change
deploy:
  provider: heroku
  api_key:
    secure: HgnvPUHPq7CdXBZBgKtWVsuoMlG9uZs5RzPjzQcHHDBIhNqhqebFpjrG269mv14zGcCWjIsyAOWEgxeNZSq66BvDpPi92HyKySCUqZjZlVf9cVimKRA/7vW1QzfCPNInJVkV+VeGuQSjPKJs6F8I+5pOTz46EiibT9NRH418Vbo=
  app: sphere-fedora-new
  on:
    repo: commercetools/sphere-fedora
