@(data: CommonData, product: ShopProduct)

@defining(product.getSelectedVariant.getPrice(data.context)){ price =>
@if(price.isPresent){
<form action="@routes.CartController.add" method="post">
    <input type="hidden" name="productId" value="@product.getId"/>
    <input type="hidden" name="variantId" value="@product.getSelectedVariant.getId"/>
    <div class="pr_price">
        <big>@printMoney(data.context, finalPrice(price.get))</big>
        @if(originalPrice(price.get).isPresent) {
            <small class="discount">@printMoney(data.context, originalPrice(price.get).get)</small>
        }
    </div>

    @productDetailHelper.attributeSelectorsBlock(data, product)

    <div class="qty_info">
        <div class="quantity">
            <label>@Messages("cart.quantity") :</label>
            <select name="quantity">
                @for(quantity <- 1 to 5) {
                <option value="@quantity">@quantity</option>
                }
            </select>
        </div>
    </div>
    <div class="add_to_buttons">
        <button type="submit" class="add_cart">@Messages("button.cart")</button>
        <!--span>@Messages("or")</span>
        <ul>
          <li><a href="#">@Messages("button.wishlist")</a></li>
        </ul-->
    </div>
</form>
}
}