@(data: CommonData)

<ul class="breadcrumb">
    <li><a href="@routes.HomeController.home">Home</a></li>
    @if(data.currentCategory.isPresent){
        @defining(data.currentCategory.get){ category =>
        @for(ancestor <- category.getPath.init) {
        <li><a href="@data.categoryRoute(ancestor)">@ancestor.getName(data.context.locale)</a></li>
        }
        <li class="@if(!data.currentProduct.isPresent){active}">
            <a href="@data.categoryRoute(category)">@category.getName(data.context.locale)</a>
        </li>
       }
    }
    @if(data.currentProduct.isPresent){
        @defining(data.currentProduct.get){ product =>
        <li class="active">
            <a href="@data.productRoute(product, data.currentCategory)">@product.getName(data.context.locale)</a>
        </li>
        }
    }
</ul>