@(data: CommonData)

<!--SIDE NAV STARTS-->
<div id="side_nav">
    <div class="sideNavCategories">
        @if(data.currentCategory.isPresent) {
            @helpers.categoryFilter(data, data.currentCategory.get)
        }
        <ul class="category price">
            <li class="header">Price</li>
            <li><a href="?" class="@getActivePrice("")">All prices</a></li>
            <li><a href="?price=20_60" class="@getActivePrice("20_60")">20 to 60 €</a></li>
            <li><a href="?price=60_100" class="@getActivePrice("60_100")">60 to 100 €</a></li>
            <li><a href="?price=100_500" class="@getActivePrice("100_500")">100 to 500 €</a></li>
        </ul>
    </div>
</div>
<!--SIDE NAV ENDS-->