@(data: CommonData)

<div class="navigation_container">
    <!--Navigation Starts-->
    <nav>
        <ul class="primary_nav">
            @for(rootCategory <- data.rootCategories) {
            <li class="@if(data.isInCategoryPath(rootCategory)){active}">
                <a href="@data.categoryRoute(rootCategory)">@rootCategory.getName(data.context.locale)</a>
                @if(rootCategory.hasChildren) {
                <!--Submenu Starts-->
                <ul class="sub_menu">
                    @for(mainCategory <- rootCategory.getChildren) {
                    <li>
                        <a href="@data.categoryRoute(mainCategory)">@mainCategory.getName(data.context.locale)</a>
                        <ul>
                            @for(subcategory <- mainCategory.getChildren) {
                            <li><a href="@data.categoryRoute(subcategory)">@subcategory.getName(data.context.locale)</a></li>
                            }
                        </ul>
                    </li>
                    }
                </ul>
                <!--Submenu Ends-->
                }
            </li>
            }
        </ul>

        <div class="minicart">
            @helpers.miniCart(data)
        </div>
    </nav>
    <!--Navigation Ends-->
</div>