@(selected: Boolean = true)

<div class="navigation_container">
    <!--Navigation Starts-->
    <nav>
        <ul class="primary_nav">
            <li @if(selected){class="active"}>
                <a href="#">SPORTS</a>
                <!--SUbmenu Starts-->
                <ul class="sub_menu">
                    @for(category <- getRootCategories) {
                    <li> <a href="@getCategoryUrl(category)">@category.getName</a>
                        <ul>
                            @for(subcategory <- category.getChildren) {
                            <li><a href="@getCategoryUrl(subcategory)">@subcategory.getName</a></li>
                            }
                        </ul>
                    </li>
                    }
                </ul>
                <!--SUbmenu Ends-->
            </li>
            <li><a href="leisure_listing.html">Women</a>
                <!--SUbmenu Starts-->
                <ul class="sub_menu">
                    <li> <a href="#">Dresses</a>
                        <ul>
                            <li><a href="#">Skirts</a></li>
                            <li><a href="#">Shorts</a></li>
                            <li><a href="#">Premium Pants</a></li>
                            <li><a href="#">Khakis</a></li>
                            <li><a href="#">Casual Pants</a></li>
                            <li><a href="#">Jeans</a></li>
                            <li><a href="#">Outerwear & Blazers</a></li>
                        </ul>
                    </li>
                    <li> <a href="#">Accessories</a>
                        <ul>
                            <li><a href="#">Sunglasses</a></li>
                            <li><a href="#">Scarves</a></li>
                            <li><a href="#">Hair Accessories</a></li>
                            <li><a href="#">Hats and Gloves</a></li>
                            <li><a href="#">Lifestyle</a></li>
                            <li><a href="#">Jeans</a></li>
                            <li><a href="#">Outerwear & Blazers</a></li>
                        </ul>
                    </li>
                </ul>
                <!--SUbmenu Ends-->
            </li>
            <li><a href="leisure_listing.html">Men</a>
                <!--SUbmenu Starts-->
                <ul class="sub_menu">
                    <li> <a href="#">Men Summer Collection</a>
                        <ul>
                            <li><a href="#">Premium Pants</a></li>
                            <li><a href="#">Khakis</a></li>
                            <li><a href="#">Casual Pants</a></li>
                            <li><a href="#">Jeans</a></li>
                            <li><a href="#">Outerwear & Blazers</a></li>
                        </ul>
                    </li>
                    <li> <a href="#">Accessories</a>
                        <ul>
                            <li><a href="#">Sunglasses</a></li>
                            <li><a href="#">Scarves</a></li>
                            <li><a href="#">Hair Accessories</a></li>
                            <li><a href="#">Hats and Gloves</a></li>
                            <li><a href="#">Jeans</a></li>
                        </ul>
                    </li>
                </ul>
                <!--SUbmenu Ends-->
            </li>
            <li><a href="leisure_listing.html">Kids</a></li>
            <li><a href="#">Accessories</a></li>
        </ul>
        <div class="minicart"> <a href="#" class="minicart_link" > <span class="item"><b>2</b> ITEM /</span> <span class="price"><b>$69.20</b></span> </a>
            <div class="cart_drop"> <span class="darw"></span>
                <ul>
                    <li><img src="@routes.Assets.at("images/mini_c_item1.png")"><a href="#">Clogs Beach/Garden Clog</a> <span class="price">$49.90</span></li>
                    <li><img src="@routes.Assets.at("images/mini_c_item2.png")"><a href="#">Faded chambray shorts</a> <span class="price">$12.90</span></li>
                    <div class="cart_bottom">
                        <div class="subtotal_menu"><small>Subtotal:</small><big>$69.20</big></div>
                        <a href="leisure_cart.html">Checkout</a></div>
                </ul>
            </div>
        </div>
    </nav>
    <!--Navigation Ends-->
</div>