@(selected: Boolean = true)

<div class="navigation_container">
    <!--Navigation Starts-->
    <nav>
        <ul class="primary_nav">
            <li @if(selected){class="active"}>
                <a href="#">SPORTS</a>
                <!--Submenu Starts-->
                <ul class="sub_menu">
                    @for(category <- getRootCategories) {
                    <li> <a href="@getCategoryUrl(category)">@category.getName</a>
                        <ul>
                            @for(subcategory <- category.getChildren) {
                            <li><a href="@getCategoryUrl(subcategory)">@subcategory.getName</a></li>
                            }
                        </ul>
                    </li>
                    }
                </ul>
                <!--Submenu Ends-->
            </li>
            <li><a href="@routes.Categories.select("womens")">Women</a>
                <!--Submenu Starts-->
                <ul class="sub_menu">
                    <li> <a href="#">Dresses</a>
                        <ul>
                            <li><a href="#">Skirts</a></li>
                            <li><a href="#">Shorts</a></li>
                            <li><a href="#">Premium Pants</a></li>
                            <li><a href="#">Khakis</a></li>
                            <li><a href="#">Casual Pants</a></li>
                            <li><a href="#">Jeans</a></li>
                            <li><a href="#">Outerwear & Blazers</a></li>
                        </ul>
                    </li>
                    <li> <a href="#">Accessories</a>
                        <ul>
                            <li><a href="#">Sunglasses</a></li>
                            <li><a href="#">Scarves</a></li>
                            <li><a href="#">Hair Accessories</a></li>
                            <li><a href="#">Hats and Gloves</a></li>
                            <li><a href="#">Lifestyle</a></li>
                            <li><a href="#">Jeans</a></li>
                            <li><a href="#">Outerwear & Blazers</a></li>
                        </ul>
                    </li>
                </ul>
                <!--SUbmenu Ends-->
            </li>
            <li><a href="@routes.Categories.select("mens")">Men</a>
                <!--SUbmenu Starts-->
                <ul class="sub_menu">
                    <li> <a href="#">Men Summer Collection</a>
                        <ul>
                            <li><a href="#">Premium Pants</a></li>
                            <li><a href="#">Khakis</a></li>
                            <li><a href="#">Casual Pants</a></li>
                            <li><a href="#">Jeans</a></li>
                            <li><a href="#">Outerwear & Blazers</a></li>
                        </ul>
                    </li>
                    <li> <a href="#">Accessories</a>
                        <ul>
                            <li><a href="#">Sunglasses</a></li>
                            <li><a href="#">Scarves</a></li>
                            <li><a href="#">Hair Accessories</a></li>
                            <li><a href="#">Hats and Gloves</a></li>
                            <li><a href="#">Jeans</a></li>
                        </ul>
                    </li>
                </ul>
                <!--Submenu Ends-->
            </li>
            <li><a href="@routes.Categories.select("boys")">Kids</a></li>
            <li><a href="#">Accessories</a></li>
        </ul>
        @defining(getCurrentCart) { cart =>
        <div class="minicart">
            <a href="@routes.Carts.show" class="minicart_link">
                <span class="item"><b>@cart.getTotalQuantity</b> ITEM /</span> <span class="price"><b>@cart.getTotalPrice</b></span>
            </a>
            <div class="cart_drop"> <span class="darw"></span>
                <ul>
                    @for(item <- cart.getLineItems) {
                    <li>
                        <img src="@item.getVariant.getFeaturedImage.getSize(ImageSize.THUMBNAIL).getUrl">
                        <a href="#">@item.getProductName</a> <span class="price">@item.getTotalPrice</span>
                    </li>
                    }
                    <div class="cart_bottom">
                        <div class="subtotal_menu"><small>Subtotal:</small><big>@cart.getTotalPrice</big></div>
                        <a href="@routes.Checkouts.show">Checkout</a>
                    </div>
                </ul>
            </div>
        </div>
        }
    </nav>
    <!--Navigation Ends-->
</div>