@(current: Category = null)

<div class="navigation_container">
    <!--Navigation Starts-->
    <nav>
        <ul class="primary_nav">
            @for(root <- getRootCategories) {
            <li class="@getActiveClass(root, current)">
                <a href="@getCategoryUrl(root)">@root.getName</a>
                @if(root.getChildren.size > 0) {
                <!--Submenu Starts-->
                <ul class="sub_menu">
                    @for(category <- root.getChildren) {
                    <li>
                        <a href="@getCategoryUrl(category)">@category.getName</a>
                        <ul>
                            @for(subcategory <- category.getChildren) {
                            <li><a href="@getCategoryUrl(subcategory)">@subcategory.getName</a></li>
                            }
                        </ul>
                    </li>
                    }
                </ul>
                <!--Submenu Ends-->
                }
            </li>
            }
        </ul>

        @defining(getCurrentCart) { cart =>
        <div class="minicart">
            <a href="@routes.Carts.show" class="minicart_link">
                <span class="item"><b>@cart.getTotalQuantity</b> @Messages("cart.item") /</span> <span class="price"><b>@cart.getTotalPrice</b></span>
            </a>
            <div class="cart_drop"> <span class="darw"></span>
                <ul>
                    @for(item <- cart.getLineItems) {
                    <li>
                        <img src="@item.getVariant.getFeaturedImage.getSize(ImageSize.THUMBNAIL).getUrl">
                        <a href="#">@item.getProductName</a> <span class="price">@item.getTotalPrice</span>
                    </li>
                    }
                    <div class="cart_bottom">
                        <div class="subtotal_menu"><small>Subtotal:</small><big>@cart.getTotalPrice</big></div>
                        <a href="@routes.Checkouts.show">Checkout</a>
                    </div>
                </ul>
            </div>
        </div>
        }
    </nav>
    <!--Navigation Ends-->
</div>