@(data: CommonData)

@topBarLink(call: Call, messageKey: String) = {
    <li@(" class=highlight".when(request().path() == call.url))><a href='@call.url'>@Messages(messageKey)</a></li>
}

<div class="header_container">
    <!--Header Starts-->
    <header>
        <div class="top_bar clear">
            <!--Top Links Starts-->
            <ul class="top_links">
                @* use li class="highlight" for active link *@
                <!--li><a href="#">@Messages("header.wishlist")</a></li-->
            @if(isLoggedIn) {
                @topBarLink(routes.CustomerController.show, "header.account")
                @topBarLink(routes.LoginController.logOut, "logout")
            } else {
                @topBarLink(routes.LoginController.showSignIn, "header.login")
                @topBarLink(routes.LoginController.showSignUp, "header.signup")
            }
            </ul>
            <!--Top Links Ends-->

            <!--Language Switcher Starts-->
            <div id="top_switch_language" class="top_switch">
                @helpers.languageSwitcher(data)
            </div>
            <!--Language Switcher Ends-->

            <!--Country Switcher Starts-->
            <div id="top_switch_country" class="top_switch">
                @helpers.countrySwitcher(data)
            </div>
            <!--Country Switcher Ends-->

        </div>
        <!--Logo Starts-->
        <h1 class="logo"> <a href="@routes.HomeController.home"><img src="@routes.Assets.at("images/logo.png")" /></a> </h1>
        <!--Logo Ends-->

        <!--Search Starts-->
        <form action="@routes.ProductListController.searchProducts(1)" class="header_search">
        <div class="form-search">
            <input id="search" type="text" name="@RequestParameters.QUERY_PARAM_SEARCH" class="input-text" autocomplete="off" placeholder="Search">
            <button type="submit" title="Search"></button>
        </div>
        </form>
        <!--Search Ends-->

    </header>
    <!--Header Ends-->
</div>