@(data: CommonData)

<div class="navigation_container">
    <!--Navigation Starts-->
    <nav>
        <ul class="primary_nav">
            @for(rootCategory <- data.rootCategories) {
            <li class="@if(data.isInCategoryPath(rootCategory)){active}">
                <a href="@data.categoryRoute(rootCategory)">@rootCategory.getName(data.context.locale)</a>
                @if(rootCategory.hasChildren) {
                <!--Submenu Starts-->
                <ul class="sub_menu">
                    @for(mainCategory <- rootCategory.getChildren) {
                    <li>
                        <a href="@data.categoryRoute(mainCategory)">@mainCategory.getName(data.context.locale)</a>
                        <ul>
                            @for(subcategory <- mainCategory.getChildren) {
                            <li><a href="@data.categoryRoute(subcategory)">@subcategory.getName(data.context.locale)</a></li>
                            }
                        </ul>
                    </li>
                    }
                </ul>
                <!--Submenu Ends-->
                }
            </li>
            }
        </ul>

        <div class="minicart">
            <a href="@routes.CartController.show" class="minicart_link">
                <span class="item"><b>@data.context.cart.getTotalQuantity</b> @Messages("cart.item") /</span> <span class="price"><b>@data.context.cart.getTotalPrice</b></span>
            </a>
            <div class="cart_drop"> <span class="darw"></span>
                <ul>
                    @for(item <- data.context.cart.getLineItems) {
                    <li>
                        <a href="@routes.ProductController.selectById(item.getProductId, item.getVariant.getId)">
                            <img src="@item.getVariant.getFeaturedImage.getSize(ImageSize.THUMBNAIL).getUrl">
                            @item.getProductName
                            <span class="price">@item.getTotalPrice</span>
                        </a>
                    </li>
                    }
                    <div class="cart_bottom">
                        <div class="subtotal_menu"><small>Subtotal:</small><big>@data.context.cart.getTotalPrice</big></div>
                        <a href="@routes.CheckoutController.show">Checkout</a>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
    <!--Navigation Ends-->
</div>