@(data: CommonData)

@topBarLink(call: Call, messageKey: String) = {
    <li@(" class=highlight".when(request().path() == call.url))><a href='@call.url'>@Messages(messageKey)</a></li>
}

<div class="header_container">
    <!--Header Starts-->
    <header>
        <div class="top_bar clear">
            <!--Top Links Starts-->
            <ul class="top_links">
                @* use li class="highlight" for active link *@
                <!--li><a href="#">@Messages("header.account")</a></li-->
                <!--li><a href="#">@Messages("header.wishlist")</a></li-->
            @if(isLoggedIn) {
                @topBarLink(routes.LoginController.logOut(), "logout")
            } else {
                @topBarLink(routes.LoginController.showSignIn(), "header.login")
                @topBarLink(routes.LoginController.showSignUp(), "header.signup")
            }
            </ul>
            <!--Top Links Ends-->

            <!--Language Switcher Starts-->
            <div class="language_switch">
                <div id="language_more">
                    <a href="#"><img src="@routes.Assets.at("images/shortcodes/list-plus.png")"/></a>
                </div>
                <ul>
                    @for((language, call) <- data.localizedRoutes) {
                    <li class="@if(language.toLocale == data.context.locale){active}">
                        <a href="@call.url" title="@language.toLocale.getDisplayName">
                            @language.toLocale.getLanguage
                        </a>
                    </li>
                    }
                </ul>
            </div>
            <!--Language Switcher Ends-->
        </div>
        <!--Logo Starts-->
        <h1 class="logo"> <a href="@routes.Application.home"><img src="@routes.Assets.at("images/logo.png")" /></a> </h1>
        <!--Logo Ends-->

        <!--Search Starts-->
        <form action="@routes.ProductListController.searchProducts(1)" class="header_search">
        <div class="form-search">
            <input id="search" type="text" name="@RequestParameters.QUERY_PARAM_SEARCH" class="input-text" autocomplete="off" placeholder="Search">
            <button type="submit" title="Search"></button>
        </div>
        </form>
        <!--Search Ends-->

    </header>
    <!--Header Ends-->
</div>