@()

<!--Newsletter_subscribe Starts-->
<div class="subscribe_block">
    <div class="find_us">
        <h3>Find us on</h3>
        <a class="twitter" href="#"></a> <a class="facebook" href="#"></a> <a class="rss" href="#"></a> </div>
    <div class="subscribe_nl">
        <h3>Subscribe to our Newsletter</h3>
        <small>Instant wardrobe updates, new arrivals, fashion news, don’t miss a beat – sign up to our newsletter now.</small>
        <form id="newsletter" method="post" action="#">
            <input type="text" class="input-text" placeholder="Enter your email" title="Enter your email" id="newsletter" name="email">
            <button class="button" title="" type="submit"></button>
        </form>
    </div>
</div>
<!--Newsletter_subscribe Ends-->