@(data: CommonData, product: ShopProduct)

<li class="product-item">
    <a href="@data.routes.products.get(product, data.currentCategory)" class="product_image">
        <img src="@product.getSelectedVariant.getMainImage(ImageSize.SMALL).getUrl"/>
    </a>
    <div class="product_info">
        <h3><a href="@data.routes.products.get(product, data.currentCategory)">@product.getName(data.context.locale)</a></h3>
        <small class="description">@Html(product.getDescription(data.context.locale))</small>
    </div>
    <div class="price_info">
        <!--a href="#">+ @Messages("button.wishlist")</a-->
        <form action="@routes.Carts.add" method="post">
            <input type="hidden" name="productId" value="@product.getId"/>
            <input type="hidden" name="variantId" value="@product.getSelectedVariant.getId"/>
            <input type="hidden" name="quantity" value="1"/>
            <button class="price_add" title="" type="submit">
                <span class="pr_price">@printMoney(data.context.locale, product.getSelectedVariant.getPriceAmount(data.context))</span>
                <span class="pr_add">@Messages("button.cart")</span>
            </button>
        </form>
    </div>
</li>