@(searchResult: SearchResult[Product])

<!--Product List Starts-->
<div class="products_list_list">
    <ul>
        @if(flash.containsKey("product-list-info")) {<div class="message info">@flash.get("product-list-info")</div>}
        @for(product <- searchResult.getResults){
        <li class="product-item"> <a href="@getProductUrl(product, product.getMasterVariant)" class="product_image">
            <img src="@product.getFeaturedImage.getSize(ImageSize.SMALL).getUrl"/></a>
            <div class="product_info">
                <h3><a href="@getProductUrl(product, product.getMasterVariant)">@product.getName</a></h3>
                <small>@Html(abbreviate(product.getDescription, 400))</small>
                <a class="black" href="@product.getFeaturedImage.getSize(ImageSize.SMALL).getUrl">Learn more</a>
            </div>
            <div class="price_info"> <a href="#">+ Add to wishlist</a>
                <form action="@routes.Carts.add" method="post">
                    <input type="hidden" name="productId" value="@product.getId"/>
                    <input type="hidden" name="variantId" value="@product.getMasterVariant.getId"/>
                    <input type="hidden" name="quantity" value="1"/>
                    <button class="price_add" title="" type="submit">
                        <span class="pr_price">@product.getPrice.getValue</span>
                        <span class="pr_add">Add to Cart</span>
                    </button>
                </form>
            </div>
        </li>
        }
    </ul>
</div>
<!--Product List Ends-->