@(category: Category)

<!--Toolbar-->
<div class="toolbar">
    <div class="sortby">
        <label>Sort by :</label>
        <select class="browse-url-selector">
            <option data-url="@getCategoryUrl(category)@buildQuery("sort", "")">DEFAULT</option>
            <option data-url="@getCategoryUrl(category)@buildQuery("sort", "asc")" @getActiveSort("price")>PRICE ASC</option>
            <option data-url="@getCategoryUrl(category)@buildQuery("sort", "desc")" @getActiveSort("price")>PRICE DESC</option>
        </select>
    </div>
    <div class="viewby">
        <label>View as :</label>
        <a class="list" href="@getCategoryUrl(category)@buildQuery("list", "yes")"></a>
        <a class="grid" href="@getCategoryUrl(category)@buildQuery("list", "")"></a>
    </div>
    <div class="show_no">
        <label>Show :</label>
        <select class="browse-url-selector">
            <option data-url="@getCategoryUrl(category)@buildQuery("show", "")">12 ITEMS</option>
            <option data-url="@getCategoryUrl(category)@buildQuery("show", "24")" @getActiveShow(24)>24 ITEMS</option>
        </select>
    </div>
</div>
<!--Toolbar-->