@(data: CommonData, productList: ProductList)

<ul class="category price">
    <li class="header">Price</li>
    <li><a href="@data.route.withoutPrice" class="@if(productList.hasNoPriceSelected){active}">All prices</a></li>
    @for(priceOption <- RequestParameters.priceOptions){
    <li><a href="@data.route.withPrice(priceOption)" class="@if(productList.hasPriceSelected(priceOption)){active}">
        @printPriceOption(priceOption) @printCurrency(data.context.locale, data.context.currency)
    </a></li>
    }
</ul>