@(cart: Cart)

@main("Cart"){
    @**helpers.navigationTop(getLocalizedUrls)**@
    @helpers.navigationMenu()
}{
    <section> 
      <!--CART STARTS-->
      <div id="shopping_cart" class="full_page">
        <h1>Shopping Cart</h1>
        @if(flash.containsKey("cart-success")) {<div class="message success">@flash.get("cart-success")</div>}
        <div class="action_buttonbar">
            <form action="@getReturnUrl" method="get"><button type="submit" class="continue">Continue Shopping</button></form>
            <form action="@routes.Checkouts.show" method="get"><button type="submit" class="checkout">Checkout</button></form>
        </div>
        <div class="cart_table">
          <table class="data-table cart-table" id="shopping-cart-table" cellpadding="0" cellspacing="0">
            <tr>
              <th colspan="2">Products</th>
              <th class="align_center" width="6%"></th>
              <th class="align_center" width="12%">Unit Price</th>
              <th class="align_center" width="10%">Qty</th>
              <th class="align_center" width="12%">Subtotal</th>
              <th class="align_center" width="6%"></th>
            </tr>
            @for(item <- cart.getLineItems) {
            <tr>
              <td width="10%"><img src="@item.getVariant.getFeaturedImage.getSize(ImageSize.SMALL).getUrl"></td>
              <td class="align_left" width="44%">
                  <a class="pr_name" href="#">@item.getProductName</a>
                  @if(item.getVariant.hasAttribute("color")) {
                    <span class="pr_info">color: @item.getVariant.getString("color")</span><br/>
                  }
                  @if(item.getVariant.hasAttribute("size")) {
                    <span class="pr_info">size: @item.getVariant.getString("size")</span>
                  }
              </td>
              <td class="align_center"></td>
              <td class="align_center vline"><span class="price">@item.getPrice.getValue</span></td>
              <td class="align_center vline">
                  <form action="@routes.Carts.update" method="post">
                    <input type="hidden" name="lineItemId" value="@item.getId"/>
                    <input class="qty_box" name="quantity" type="text" value="@item.getQuantity">
                    <button type="submit">change</button>
                  </form>
              </td>
              <td class="align_center vline"><span class="price">@item.getTotalPrice</span></td>
              <td class="align_center vline"><a href="@routes.Carts.remove(item.getId)" class="remove"></a></td>
            </tr>
            }
          </table>
          <div class="totals">
            <table id="totals-table">
                <tr>
                  <td width="60%" colspan="1" class="align_left" ><strong>Subtotal</strong></td>
                  <td class="align_right" style=""><strong><span class="price">@cart.getTotalPrice</span></strong></td>
                </tr>
                @if(isSet(cart.getTaxedPrice)){
                <tr>
                    @for(taxPortion <- cart.getTaxedPrice.getTaxPortions) {
                    <td width="60%" colspan="1" class="align_left">Tax @getPercentage(taxPortion.getRate)%</td>
                    <td class="align_right" style=""><span class="">@taxPortion.getAmount</span></td>
                    }
                </tr>
                }
                @if(isSet(cart.getShippingInfo)) {
                <tr>
                    <td width="60%" colspan="1" class="align_left" >Shipping cost</td>
                    <td class="align_right" style=""><span class="price">@cart.getShippingInfo.getPrice</span></td>
                </tr>
                }
                <tr>
                  <td width="60%" colspan="1" class="align_left total" >Grand Total</td>
                  <td class="align_right" style=""><span class="total">@getTotalPrice(cart)</span></td>
                </tr>                
            </table>
          </div>
        </div>
        <div class="action_buttonbar">
            <form action="@getReturnUrl" method="get"><button type="submit" class="continue">Continue Shopping</button></form>
            <form action="@routes.Checkouts.show" method="get"><button type="submit" class="checkout">Checkout</button></form>
        </div>
      </div>
      <!--CART ENDS--> 
      
      <!--div class="checkout_tax">
      	<div class="shipping_tax">
        	<h4>Estimate Shipping and Tax</h4>
            <p>Enter your destination to get a shipping estimate.</p>
            <label>Country</label><select><option>Canada</option></select><label>Postal code</label><input type="text">
            <br class="clear"/>
            <label>State</label><select><option>Vancouver</option></select>
            <button type="button" title="" class="brown_btn">Get a Quote</button>
        </div>
        <div class="checkout_discount">
        	<h4>Discount codes</h4>
            <p>Enter your coupon code if you have one.</p>
            <input type="text">
            <button type="button" title="" class="brown_btn">Apply Coupon</button>
        </div>
      </div-->
      
      @helpers.newsletter()

    </section>
}{

}