@(data: CommonData, customer: ShopCustomer, customerForm: Form[forms.customerForm.UpdateCustomer], shopOrders: List[ShopOrder])

@import helpers._
@import helper._
@import com.google.common.base.Optional

@implicitField = @{ FieldConstructor(fieldConstructor.f) }

@main("User"){
    @helpers.navigationTop(data)
    @helpers.navigationMenu(data)
}{
    <section class="user">
        <h1>@Messages("user-page.Title")</h1>

        <h2>@Messages("user-page.changeNameEmail.Title")</h2>

        @form(action = routes.CustomerController.handleCustomerUpdate(), 'id -> "customerForm") {
            @inputText(customerForm("firstName"))
            @inputText(customerForm("lastName"))
            @inputText(customerForm("email"))

            <input type="submit" class="button" id="submit-user-form" value='@Messages("save-changes")'>
        }

        <h2>@Messages("listOrders.Title")</h2>

        @if(!shopOrders.isEmpty) {
            <ul class="short-code toggle_box">
            @shopOrders.map { order =>

                    <li><a class="toggle_title" href="#">@order.getOrderDate("dd.MM.yyyy HH:mm") | @order.getTotalPrice(Optional.of(customer))</a>
                        <div class="toggle_content short-code-column active" style="display: none;">
                            <ul class="circle_li">
                            @order.getLineItems.map { lineItem =>
                                <li>@lineItem.getQuantity x <a href='@routes.Products.selectById(lineItem.getProductId, lineItem.getVariant.getId).url'>@lineItem.getProductName(data.context.locale)</a> | @lineItem.getTotalPrice</li>
                            }
                            </ul>
                        </div>
                    </li>
            }
            </ul>
        }

    </section>
}{

}