@(product: Product, variant: Variant, category: Category, searchResultRelated: SearchResult[Product])


@scripts = {<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.zoom.js")"></script>}

@main("Sphere Fedora", scripts){
    @helpers.navigation()
}{
    <section>
      <ul class="breadcrumb">
        <li><a href="@routes.Categories.home">Home</a></li>
        @for(ancestor <- category.getPathInTree.init) {
            <li><a href="@getCategoryUrl(ancestor)">@ancestor.getName</a></li>
        }
        <li class="active"><a href="@getCategoryUrl(category)">@category.getName</a></li>
      </ul>
      <!--PRODUCT DETAIL STARTS-->
      <div id="product_detail">
        <!--Product Left Starts-->
        <div class="product_leftcol">
          <span id="product-image-zoom" class="image-zoom">
              <img src="@variant.getFeaturedImage.getSize(ImageSize.ORIGINAL).getUrl">
          </span>
          <span class="pr_info">ROLL OVER IMAGE TO ZOOM</span>
          <ul class="pr_gallery">
          @for(matchedVariant <- getPossibleVariants(product, variant, "color")) {
            <li>
                <a href="@getProductUrl(product, matchedVariant)">
                    <img src="@matchedVariant.getFeaturedImage.getSize(ImageSize.THUMBNAIL).getUrl">
                </a>
            </li>
          }
          </ul>
        </div>
        <!--Product Left Ends-->
        <!--Product Right Starts-->
        <div class="product_rightcol">
          <span id="img-zoomed"></span>
            <small class="pr_type">@category.getName</small>
          <h1>@product.getName</h1>
          <p class="short_dc">@abbreviate(product.getDescription, 400)</p>

          <div class="pr_price"> <big>@product.getPrice.getValue</big> <small>900.00 EUR</small> </div>
          @if(product.hasAttribute("size")) {
          <div class="size_info">
            <div class="size_sel">
              <label>Available Size :</label>
              <select>
                <option>SELECT</option>
                  @for(size <- getPossibleSizes(product, variant)) {
                    <option>@size</option>
                  }
              </select>
            </div>
            }
            @if(product.hasAttribute("color")) {
            <div class="color_sel">
              <label>Color :</label>
              <select id="product-color-selector">
                @for(matchedVariant <- getPossibleVariants(product, variant, "color")) {
                <option data-url="@getProductUrl(product, matchedVariant)" @if(matchedVariant.getString("color") == variant.getString("color")){selected}>
                    @matchedVariant.getString("color")
                </option>
                }
              </select>
            </div>
          </div>
          }
          <div class="qty_info">
            <div class="quantity">
              <label>Quantity :</label>
              <select>
                @for(i <- 1 to 5) {
                    <option>@i</option>
                }
              </select>
            </div>
          </div>
          <div class="add_to_buttons">
            <button onClick="parent.location='leisure_cart.html'" class="add_cart">Add to Cart</button>
            <span>or</span>
            <ul>
              <li><a href="#">Add to Wishlist</a></li>
            </ul>
          </div>
          <div class="product_overview">
            <h4>Quick Overview</h4>
            <ul>
              <li>Long sleeves with single button cuffs.</li>
              <li>Cuffs can be rolled up and secured with button-tabs.</li>
              <li>Standing collar with notched detailing.</li>
              <li>Front button placket.</li>
              <li>Hem is longer in back.</li>
            </ul>
          </div>
        </div>
        <!--Product Right Ends-->

      </div>
      <!--PRODUCT DETAIL ENDS-->
      <!--Product List Starts-->
      <div class="products_list products_slider">
        <h2 class="sub_title">You might also like</h2>
        <ul id="first-carousel" class="first-and-second-carousel jcarousel-skin-tango">
          @for(related <- searchResultRelated.getResults) {
          <li> <a href="@getProductUrl(related, related.getMasterVariant)" class="product_image"><img src="@related.getFeaturedImage.getSize(ImageSize.SMALL).getUrl"/></a>
            <div class="product_info">
              <h3><a href="@getProductUrl(related, related.getMasterVariant)">@related.getName</a></h3>
              <small>@abbreviate(related.getDescription, 100)</small> </div>
            <div class="price_info"> <a href="#">+ Add to wishlist</a>
              <button class="price_add" title="" type="button"><span class="pr_price">@related.getPrice.getValue</span><span class="pr_add">Add to Cart</span></button>
            </div>
          </li>
          }
        </ul>
      </div>
      <!--Product List Ends-->

      <!--Newsletter_subscribe Starts-->
      <div class="subscribe_block">
        <div class="find_us">
          <h3>Find us on</h3>
          <a class="twitter" href="#"></a> <a class="facebook" href="#"></a> <a class="rss" href="#"></a> </div>
        <div class="subscribe_nl">
          <h3>Subscribe to our Newsletter</h3>
          <small>Instant wardrobe updates, new arrivals, fashion news, don’t miss a beat – sign up to our newsletter now.</small>
          <form id="newsletter" method="post" action="#">
            <input type="text" class="input-text" value="Enter your email" title="Enter your email" id="newsletter" name="email">
            <button class="button" title="" type="submit"></button>
          </form>
        </div>
      </div>
      <!--Newsletter_subscribe Ends-->

    </section>
}{

}