@(searchResultNew: SearchResult[Product], searchResultOffer: SearchResult[Product])

@main(){
    @helpers.navigation(false)
}{
    <section>
        <!--Banner Starts-->
        <div id="banner_section">
            <div class="flexslider">
                <ul class="slides">
                    <li> <img src="@routes.Assets.at("images/Teaser.jpg")" />
                        <!--<div class="flex-caption">
                 <h3>Explore the summer collection!</h3>
          </div>-->
                    </li>
                    <li> <img src="@routes.Assets.at("images/lm_banner_2.jpg")" />
                        <!--<div class="flex-caption">
                  <h3>Shop now!</h3>
           </div> -->
                    </li>
                    <li> <img src="@routes.Assets.at("images/lm_banner_3.jpg")" /> </li>
                </ul>
            </div>
            <div class="promo_banner">
                <div class="home_banner"><a href="#"><img src="@routes.Assets.at("images/promo_hb_1.jpg")"></a></div>
                <div class="home_banner"><a href="#"><img src="@routes.Assets.at("images/promo_hb_2.jpg")"></a></div>
                <div class="home_banner"><a href="#"><img src="@routes.Assets.at("images/promo_hb_3.jpg")"></a></div>
            </div>
        </div>
        <!--Banner Ends-->
        <!--Product List Starts-->
        <div class="products_list products_slider">
            <h2 class="sub_title">New Products</h2>
            <ul id="first-carousel" class="first-and-second-carousel jcarousel-skin-tango">
                @for(product <- searchResultNew.getResults) {
                <li class="product-item">
                    <a href="@getProductUrl(product, product.getMasterVariant)" class="product_image">
                        <img src="@product.getFeaturedImage.getSize(ImageSize.SMALL).getUrl"/>
                    </a>
                    <div class="product_info">
                        <h3><a href="@getProductUrl(product, product.getMasterVariant)">@product.getName</a></h3>
                        <small>@abbreviate(product.getDescription, 100)</small> </div>
                    <div class="price_info"> <a href="#">+ Add to wishlist</a>
                        <form action="@routes.Carts.add" method="post">
                            <input type="hidden" name="productId" value="@product.getId"/>
                            <input type="hidden" name="variantId" value="@product.getMasterVariant.getId"/>
                            <input type="hidden" name="quantity" value="1"/>
                            <button class="price_add" title="" type="submit">
                                <span class="pr_price">@product.getPrice.getValue</span>
                                <span class="pr_add">Add to Cart</span>
                            </button>
                        </form>
                    </div>
                </li>
                }
            </ul>
        </div>
        <!--Product List Ends-->
        <!--Product List Starts-->
        <div class="products_list products_slider">
            <h2 class="sub_title">Offer Products</h2>
            <ul id="second-carousel" class="first-and-second-carousel jcarousel-skin-tango">
                @for(product <- searchResultOffer.getResults) {
                <li class="product-item">
                    <a href="@getProductUrl(product, product.getMasterVariant)" class="product_image">
                        <img src="@product.getFeaturedImage.getSize(ImageSize.SMALL).getUrl"/>
                    </a>
                    <div class="product_info">
                        <h3><a href="@getProductUrl(product, product.getMasterVariant)">@product.getName</a></h3>
                        <small>@abbreviate(product.getDescription, 100)</small> </div>
                    <div class="price_info"> <a href="#">+ Add to wishlist</a>
                        <form action="@routes.Carts.add" method="post">
                            <input type="hidden" name="productId" value="@product.getId"/>
                            <input type="hidden" name="variantId" value="@product.getMasterVariant.getId"/>
                            <input type="hidden" name="quantity" value="1"/>
                            <button class="price_add" title="" type="submit">
                                <span class="pr_price">@product.getPrice.getValue</span>
                                <span class="pr_add">Add to Cart</span>
                            </button>
                        </form>
                    </div>
                </li>
                }
            </ul>
        </div>
        <!--Product List Ends-->

        @helpers.newsletter()

    </section>
}{

}
