@(category: Category, searchResult: SearchResult[Product])

@main("Sphere Fedora"){
    @helpers.navigation()
}{
    <section>
        <!--SIDE NAV STARTS-->
        <div id="side_nav">
            <div class="sideNavCategories">
                <h1>SPORTS</h1>
                <ul class="category departments">
                    <li class="header">Departments</li>
                    @for(root <- getRootCategories) {
                        @if(root.getChildren.size > 0){
                        <li class="menu_cont">
                            <a href="@getCategoryUrl(root)" class="@getActiveClass(root, category)">@root.getName</a>
                            <ul class="side_sub_menu">
                            @for(subcategory <- root.getChildren) {
                                <li><a href="@getCategoryUrl(subcategory)" class="@getActiveClass(subcategory, category)">@subcategory.getName</a></li>
                            }
                            </ul>
                        } else {
                            <li><a href="@getCategoryUrl(root)" class="@getActiveClass(root, category)">@root.getName</a>
                        }
                    </li>
                    }
                </ul>
                <ul class="category collection">
                    <li class="header">Collection</li>
                    <li><a href="#" class="active">All Brands</a></li>
                    <li><a href="#">Citizens of Humanity</a></li>
                    <li><a href="#">Crew Clothing</a></li>
                    <li><a href="#">Boutique</a></li>
                    <li><a href="#">Summer</a></li>
                    <li><a href="#">Mudd & Water</a></li>
                </ul>
                <ul class="category price">
                    <li class="header">Price</li>
                    <li><a href="@getCategoryUrl(category)" class="@getActivePrice("")">All prices</a></li>
                    <li><a href="@getCategoryUrl(category)?price=20_60" class="@getActivePrice("20_60")">20 to 60 €</a></li>
                    <li><a href="@getCategoryUrl(category)?price=60_100" class="@getActivePrice("60_100")">60 to 100 €</a></li>
                    <li><a href="@getCategoryUrl(category)?price=100_500" class="@getActivePrice("100_500")">100 to 500 €</a></li>
                </ul>
            </div>
        </div>
        <!--SIDE NAV ENDS-->
        <!--MAIN CONTENT STARTS-->
        <div id="main_content">
            <div class="category_banner"> <img src="@routes.Assets.at("images/promo_cat_banner.jpg")"/> </div>
            @helpers.breadcrumb(category)
            <!--Toolbar-->
            <div class="toolbar">
                <div class="sortby">
                    <label>Sort by :</label>
                    <select class="browse-url-selector">
                        <option data-url="@getCategoryUrl(category)@buildQuery("sort", "")">DEFAULT</option>
                        <option data-url="@getCategoryUrl(category)@buildQuery("sort", "asc")" @getActiveSort("price")>PRICE ASC</option>
                        <option data-url="@getCategoryUrl(category)@buildQuery("sort", "desc")" @getActiveSort("price")>PRICE DESC</option>
                    </select>
                </div>
                <div class="viewby">
                    <label>View as :</label>
                    <a class="list" href="#"></a> <a class="grid" href="#"></a> </div>
                <div class="show_no">
                    <label>Show :</label>
                    <select class="browse-url-selector">
                        <option data-url="@getCategoryUrl(category)@buildQuery("show", "")">12 ITEMS</option>
                        <option data-url="@getCategoryUrl(category)@buildQuery("show", "24")" @getActiveShow(24)>24 ITEMS</option>
                    </select>
                </div>
            </div>
            <!--Toolbar-->
            <!--Product List Starts-->
            <div class="products_list products_slider">
                <ul>
                    @if(flash.containsKey("info-listing")) {<div class="alert alert-info">@flash.get("info-listing")</div>}
                    @for(product <- searchResult.getResults){
                    <li>
                        <a href="@getProductUrl(product, product.getMasterVariant)" class="product_image">
                            <img src="@product.getFeaturedImage.getSize(ImageSize.SMALL).getUrl"/>
                        </a>
                        <div class="product_info">
                            <h3><a href="@getProductUrl(product, product.getMasterVariant)">@product.getName</a></h3>
                            <small>@abbreviate(product.getDescription, 100)</small> </div>
                        <div class="price_info"> <a href="#">+ Add to wishlist</a>
                            <button class="price_add" title="" type="button"><span class="pr_price">@product.getPrice.getValue</span>
                                <span class="pr_add">Add to Cart</span></button>
                        </div>
                    </li>
                    }
                </ul>
            </div>
            <!--Product List Ends-->
            <!--Toolbar-->
            <div class="toolbar">
                <div class="sortby">
                    <label>Sort by :</label>
                    <select class="browse-url-selector">
                        <option data-url="@getCategoryUrl(category)@buildQuery("sort", "")">DEFAULT</option>
                        <option data-url="@getCategoryUrl(category)@buildQuery("sort", "asc")" @getActiveSort("price")>PRICE ASC</option>
                        <option data-url="@getCategoryUrl(category)@buildQuery("sort", "desc")" @getActiveSort("price")>PRICE DESC</option>
                    </select>
                </div>
                <div class="viewby">
                    <label>View as :</label>
                    <a class="list" href="#"></a> <a class="grid" href="#"></a> </div>
                <div class="show_no">
                    <label>Show :</label>
                    <select class="browse-url-selector">
                        <option data-url="@getCategoryUrl(category)@buildQuery("show", "")">12 ITEMS</option>
                        <option data-url="@getCategoryUrl(category)@buildQuery("show", "24")" @getActiveShow(24)>24 ITEMS</option>
                    </select>
                </div>
            </div>
            <!--Toolbar-->
        </div>
        <!--MAIN CONTENT ENDS-->
        <!--Newsletter_subscribe Starts-->
        <div class="subscribe_block">
            <div class="find_us">
                <h3>Find us on</h3>
                <a class="twitter" href="#"></a> <a class="facebook" href="#"></a> <a class="rss" href="#"></a> </div>
            <div class="subscribe_nl">
                <h3>Subscribe to our Newsletter</h3>
                <small>Instant wardrobe updates, new arrivals, fashion news, don’t miss a beat – sign up to our newsletter now.</small>
                <form id="newsletter" method="post" action="#">
                    <input type="text" class="input-text" value="Enter your email" title="Enter your email" id="newsletter" name="email">
                    <button class="button" title="" type="submit"></button>
                </form>
            </div>
        </div>
        <!--Newsletter_subscribe Ends-->
    </section>
}{

}
