@(logInForm: Form[forms.customerForm.LogIn])

@import helpers._
@import helper._

@implicitField = @{ FieldConstructor(fieldConstructor.f) }

@main("Login"){
    @* TODO add menu *@
}{
    <section class="login">

        <h1>@Messages("login.Title")</h1>

        @form(action = routes.LoginController.logIn(), 'id -> "loginForm") {
            @inputText(logInForm("email"))
            @inputPassword(logInForm("password"))

            <input type="submit" class="button" id="submit-user-form" value='@Messages("login.Title")'>
        }

    </section>
}{

}