@(title: String = "", scripts: Html = Html(""), styles: Html = Html(""))(header: Html)(content: Html)(footer: Html)

<!DOCTYPE HTML>
<html lang="@lang.language">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>SPHERE.IO DEMOSTORE</title>
    <!--CSS-->
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/styles.css")">
    @styles

    <!--Google Webfont -->
    <link href='http://fonts.googleapis.com/css?family=Istok+Web' rel='stylesheet' type='text/css'>
    <!--Javascript-->
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.7.2.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.flexslider.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.easing.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.jcarousel.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.jtweetsanywhere-1.3.1.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.autoellipsis-1.0.10.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/simpletabs_1.3.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/form_elements.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/custom.js")"></script>
    @scripts
    <!--[if lt IE 9]>
    <script src="@routes.Assets.at("javascripts/html5.js")"></script>
    <![endif]-->
    <!-- mobile setting -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
<div class="wrapper">

@header

<div id="messages">
    @if(flash.containsKey("error")) {<div class="message error">@flash.get("error")</div>}
    @if(flash.containsKey("warning")) {<div class="message alert">@flash.get("warning")</div>}
    @if(flash.containsKey("success")) {<div class="message success">@flash.get("success")</div>}
    @if(flash.containsKey("info")) {<div class="message info">@flash.get("info")</div>}
</div>

<div class="section_container">
    <!--Mid Section Starts-->
    @content
    <!--Mid Section Ends-->
</div>
<div class="footer_container">
    <!--Footer Starts-->
    <footer>
        <ul class="footer_links">
            <li> <span>New Arrivals</span>
                <ul>
                    <li><a href="#">Clothing</a></li>
                    <li><a href="#">Shoes</a></li>
                    <li><a href="#">Bags</a></li>
                    <li><a href="#">Accessories</a></li>
                    <li><a href="#">Zimmermann</a></li>
                    <li><a href="#">Acne</a></li>
                    <li><a href="#">Bassike</a></li>
                    <li><a href="#">Camilla and Marc</a></li>
                </ul>
            </li>
            <li  class="seperator"> <span>Brands we sell</span>
                <ul>
                    <li><a href="#">Elle</a></li>
                    <li><a href="#">Reallxe</a></li>
                    <li><a href="#">Fabric</a></li>
                    <li><a href="#">Mayflower</a></li>
                    <li><a href="#">Levis Strauss</a></li>
                    <li><a href="#">Anzonica</a></li>
                    <li><a href="#">Reallxe</a></li>
                    <li><a href="#">Fabric</a></li>
                </ul>
            </li>
            <li> <span>Customer Service</span>
                <ul>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Returns & Exchanges</a></li>
                    <li><a href="#">Payment Options</a></li>
                    <li><a href="#">Order Status & Tracking</a></li>
                    <li><a href="#">Gift Wrap Options</a></li>
                    <li><a href="#">International Orderse</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                </ul>
            </li>
            <li> <span>My Account</span>
                <ul>
                    <li><a href="#">My Account Information</a></li>
                    <li><a href="#">My Password</a></li>
                    <li><a href="#">My Order History</a></li>
                    <li><a href="#">Payment Options</a></li>
                    <li><a href="#">My Address Book</a></li>
                    <li><a href="#">My Updates & Alerts</a></li>
                </ul>
            </li>
        </ul>
        <div class="footer_customblock">
            <div class="shipping_info"> <span>introducing </span><br>
                <big>FREE SHIPPING</big><br>
                <small>for purchases above $200</small> </div>
            <div class="contact_info"> <big>1.800. (1.800.260.7890)</big> </div>
        </div>
        <address>
            <img src="@routes.Assets.at("images/payment_info.jpg")"/>
        </address>
    </footer>
    <!--Footer Ends-->
</div>
</div>
</body>
</html>
