@(data: CommonData, product: Product, variant: Variant, category: Category, searchResultRelated: SearchResult[Product])

@scripts = {<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.zoom.js")"></script>}

@main(product.getName, scripts){
    @helpers.navigationTop(data)
    @helpers.navigationMenu(data)
}{
    <section>
      @*helpers.breadcrumb()*@

      <!--PRODUCT DETAIL STARTS-->
      <div id="product_detail">
        <!--Product Left Starts-->
        <div class="product_leftcol">
          <span id="product-image-zoom" class="image-zoom">
              <img src="@variant.getFeaturedImage.getSize(ImageSize.ORIGINAL).getUrl" class="small">
          </span>
          <span class="pr_info">@Messages("product.zoom")</span>
          <ul class="pr_gallery">
          @for(image <- variant.getImages) {
            <li>
                <a href="#" class="product-image-small" data-pic="@image.getSize(ImageSize.ORIGINAL).getUrl">
                    <div class="product-detail-thumbnail">
                        <img src="@image.getSize(ImageSize.THUMBNAIL).getUrl"/>
                    </div>
                </a>
            </li>
          }
          @for(matchedVariant <- getPossibleVariants(product, variant, "color")) {
            @if(matchedVariant.getId != variant.getId){
            <li>
                <a href="@getProductUrl(product, matchedVariant)">
                    <div class="product-detail-thumbnail">
                        <img src="@matchedVariant.getFeaturedImage.getSize(ImageSize.THUMBNAIL).getUrl">
                    </div>
                </a>
            </li>
            }
          }
          </ul>
        </div>
        <!--Product Left Ends-->
        <!--Product Right Starts-->
        <div class="product_rightcol">
          <span id="img-zoomed"></span>
            <small class="pr_type">@category.getName(lang.toLocale)</small>
          <h1>@product.getName(lang.toLocale)</h1>
          <p class="short_dc">@Html(abbreviate(product.getDescription(lang.toLocale), 400))</p>
          <ul class="product-attributes">
          @for(attribute <- variant.getAttributes) {
            <li><span>@attribute.getName</span>: @displayAttributeValue(attribute, lang.toLocale)</li>
          }
          </ul>

            <form action="@routes.CartController.add" method="post">
              <input type="hidden" name="productId" value="@product.getId"/>
              <input type="hidden" name="variantId" value="@variant.getId"/>
              <div class="pr_price"> <big>@product.getPrice.getValue</big> <small></small> </div>
              <div class="size_info">
                @if(product.hasAttribute("size")) {
                <div class="size_sel">
                  <label>@Messages("product.size") :</label>
                  <select name="size">
                    <option>SELECT</option>
                      @for(size <- getPossibleSizes(product, variant)) {
                        <option value="@displayAttributeId(size)">@displayAttributeValue(size, lang.toLocale)</option>
                      }
                  </select>
                </div>
                }
                @if(product.hasAttribute("color")) {
                <div class="color_sel">
                  <label>@Messages("product.color") :</label>
                  <select class="browse-url-selector" id="product-color-selector">
                    @for(matchedVariant <- getPossibleVariants(product, variant, "color")) {
                    <option data-url="@getProductUrl(product, matchedVariant)" @if(matchedVariant.getString("color") == variant.getString("color")){selected}>
                        @matchedVariant.getString("color")
                    </option>
                    }
                  </select>
                </div>
                }
                <div class="sku_sel">
                  <label>@Messages("product.sku") :</label>
                  <select class="browse-url-selector" id="product-sku-selector">
                    @for(matchedVariant <- product.getVariants.asList) {
                    <option data-url="@getProductUrl(product, matchedVariant)" @if(matchedVariant.getSKU == variant.getSKU){selected}>
                        @matchedVariant.getSKU
                    </option>
                    }
                  </select>
                </div>
              </div>
              <div class="qty_info">
                <div class="quantity">
                  <label>@Messages("cart.quantity") :</label>
                  <select name="quantity">
                    @for(quantity <- 1 to 5) {
                        <option value="@quantity">@quantity</option>
                    }
                  </select>
                </div>
              </div>
              <div class="add_to_buttons">
                <button type="submit" class="add_cart">@Messages("button.cart")</button>
                <!--span>@Messages("or")</span>
                <ul>
                  <li><a href="#">@Messages("button.wishlist")</a></li>
                </ul-->
              </div>
            </form>
          <!--div class="product_overview">
            <h4>@Messages("product.overview")</h4>
            <ul>
              <li>Long sleeves with single button cuffs.</li>
              <li>Cuffs can be rolled up and secured with button-tabs.</li>
              <li>Standing collar with notched detailing.</li>
              <li>Front button placket.</li>
              <li>Hem is longer in back.</li>
            </ul>
          </div-->
        </div>
        <!--Product Right Ends-->

      </div>
      <!--PRODUCT DETAIL ENDS-->
      <!--Product List Starts-->
      <div class="products_list products_slider">
        <h2 class="sub_title">@Messages("list.related")</h2>
        <ul id="first-carousel" class="first-and-second-carousel jcarousel-skin-tango">
          @for(related <- searchResultRelated.getResults) {
          @**helpers.productItem(related)**@
          }
        </ul>
      </div>
      <!--Product List Ends-->

      @helpers.newsletter()

    </section>
}{

}