@(data: CommonData, signupForm: Form[forms.customerForm.SignUp])

@import helpers._
@import helper._

@implicitField = @{ FieldConstructor(fieldConstructor.f) }

@main("User"){
    @helpers.navigationTop(data)
    @helpers.navigationMenu(data)
}{
    <section class="user">
        <h1>@Messages("signup.Title")</h1>

        @form(action = routes.LoginController.handleSignUp(), 'id -> "signupForm") {
            @inputText(signupForm("firstName"))
            @inputText(signupForm("lastName"))
            @inputText(signupForm("email"))
            @inputPassword(signupForm("password"))

            <input type="submit" class="button" id="submit-user-form" value='@Messages("header.signup")'>
        }

    </section>
}{

}